{% extends 'layout.jinja' %}
{% block contents %}
    <div class="input-group">
        <form role="form" action="{{ url_for('account.joinUser')}}" method="post">
            
            <div class="form-group">
                <label for="E-mail">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="name">Your name</label>
                <input type="input" class="form-control" id="name" name="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='passvailid.js') }}"></script>
{% endblock %}