{% extends 'layout.jinja' %}
{% block contents %}

    {% if postList == [] %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#void">
                            <span class="boardTitle">
                                <p class="text-left">텅 빈 게시판</p>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="void" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="well">로그인 후 글을 써 주세요!</div>
                        <div class="row">
                        </div>
                        <div class="comment">
                                <div class="well well-sm ">
                                    <label for="Comment">Comment()by 생성자</label>
                                    <span>
                                        텅 빈 글입니다.
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% for viewPost in postList %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{viewPost['postSrl'] }}">
                            <span class="boardTitle">
                                <p class="text-left">{{ viewPost['postTitle'] }} <small class="badge">{{viewPost['commentCount']}}</small><small class="pull-right">{{ viewPost['postWriten'] }} by {{ viewPost['postWriter'] }}</small></p>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="{{viewPost['postSrl'] }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="well">
                            {{ viewPost['postText']|safe }}
                        </div>
                        <div class="row">
                            {% for file in viewPost['fileList']['files'] %}
                                    <div class="col-sm-6 col-md-3">
                                        <a href="{{ url_for('static', filename='files/{}/{}'.format(viewPost['fileList']['uuid'], file))}}" class="thumbnail" target="_blank"> 
                                            <img data-src="holder.js/100%x180" src="{{ url_for('static', filename='files/{}/{}'.format(viewPost['fileList']['uuid'], file))}}" class="thumbnail" alt="{{ file }}">
                                        </a>
                                    </div>
                            {% endfor %}
                        </div>
                        <div class="comment">
                            {% for temp in viewPost.comments %}
                                <div class="well well-sm ">
                                    <label for="Comment">Comment({{temp['commentWriten']}})by {{temp['commentWriter']}}</label>
                                    <span>
                                        {{ temp['comment'] }}
                                        {% if session['userName']==temp['commentWriter'] %}
                                            <a href="{{url_for('simpleBBS.commentDelete', commentSrl=temp['commentSrl'])}}" class="btn btn-danger">Delete comment</a>
                                        {% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                            {% if session.logged_in %}
                                <form role="form"action="{{url_for('simpleBBS.commentWrite')}}" method="post"enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="well well-sm" for="Comment">Comment</label>
                                        {% if session['userName']==viewPost['postWriter'] %}
                                            <div class="btn-group pull-right">
                                                <a href="{{url_for('simpleBBS.deletePost', postSrl=viewPost['postSrl'])}}" class="btn btn-danger">Delete Post</a>
                                                <a href="{{url_for('simpleBBS.modifyPost', postSrl=viewPost['postSrl'])}}" class="btn btn-warning">Modify Post</a>
                                            </div>
                                        {% endif %}
                                        <input type="hidden" name="postSrl" value="{{viewPost['postSrl']}}" />
                                        <textarea class="form-control" id="Comment" name="Comment" rows="5"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}